<mat-sidenav-container>
  <mat-sidenav
    [opened]="true"
    mode="side"
    id="inventory-side-nav"
    class="inventory-side-nav"
  >
    <!-- <div class="system-logo for-sp">
      <a>
        <mat-icon>store</mat-icon>
      </a>
    </div> -->
    <mat-nav-list>
      <a mat-list-item title="Orders">
        <span class="entry">
          <span>Orders</span>
        </span>
      </a>
      <a mat-list-item title="Products">
        <span class="entry">
          <span>Products</span>
        </span>
      </a>
      <a mat-list-item title="Customers">
        <span class="entry">
          <span>Customers</span>
        </span>
      </a>
      <a mat-list-item title="Reports">
        <span class="entry">
          <span>Reports</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    class="inventory-side-nav-content"
    [class.nav-expand]="expand === true"
  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
